<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMvc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMvc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvc" />
        </element>
        <element id="directory" name="lib">
          <element id="dir-copy" path="$PROJECT_DIR$/JavaLibs/lib/hibernate" />
          <element id="dir-copy" path="$PROJECT_DIR$/JavaLibs/lib/jdbc" />
          <element id="dir-copy" path="$PROJECT_DIR$/JavaLibs/lib/log" />
          <element id="dir-copy" path="$PROJECT_DIR$/JavaLibs/lib/spring" />
          <element id="dir-copy" path="$PROJECT_DIR$/JavaLibs/lib/spring-data" />
          <element id="dir-copy" path="$PROJECT_DIR$/JavaLibs/lib/spring-mvc" />
          <element id="file-copy" path="$PROJECT_DIR$/JavaLibs/lib/gson-2.8.5.jar" />
          <element id="dir-copy" path="$PROJECT_DIR$/JavaLibs/lib/jaxb" />
        </element>
      </element>
    </root>
  </artifact>
</component>