<html xmlns:th="http://www.thymeleaf.org">

<body>
<!--导航菜单-->
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">导航条</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/department/list" th:href="@{/department/list}">部门管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/role/list" th:href="@{/role/list}">角色管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/list" th:href="@{/user/list}">用户管理</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li th:if="${!#authentication.isAuthenticated() || #authentication.name == 'anonymousUser'}" class="nav-item active">
                <a class="nav-link" href="/" th:href="@{/login}">登录</a>
            </li>
            <li th:if="${#authentication.isAuthenticated() && #authentication.name != 'anonymousUser'}"
                class="nav-item dropdown" style="margin-right: 70px;">
                <a th:text="${#authentication.name}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a th:href="@{/account/changePassword}" class="dropdown-item" href="#">修改密码</a>
                    <div class="dropdown-divider"></div>
                    <a th:href="@{/logout}" class="dropdown-item" href="#">退出</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<!--增删改查结果消息-->
<div th:fragment="msg" th:if="${msg} != null" class="alert alert-success alert-dismissible fade show" role="alert">
    <span th:text="${msg}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--必要的javascript-->
<div th:fragment="js">
    <script th:src="@{/js/jquery.min.js}" src="/jquery-3.4.0.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="/bootstrap.min.js"></script>
    <script th:src="@{/js/popper.min.js}" src="/popper.min.js"></script>
</div>
</body>
</html>