<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>
    Home page
</h2>
<div sec:authorize="hasAuthority('admin')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('admin')">
    This content is only shown to administrators.(hasAuthority)
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>

<span sec:authentication="name">login name</span>

<p sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">登出</a>
</p>
<div th:if="${!#authentication.isAuthenticated()}">
    The value of the "name" property of the authentication object should appear here.
</div>

</body>
</html>